*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Mukta Malar', sans-serif;
}

/* header{
    width:100%;
    height:88px;
    background-color: aqua;
    position:fixed;
    z-index:1 ;
} */

.topwar{
    width:100%;
    height:32px;
    background-color: white;
}


input[type=text]:focus {
    outline: none;
  }
.nav{
    height: 56px;
    width: 100%;
    background-color: #202F4F;
}

.topbox{
    width:1034;
    /* border: 1px solid black; */
    height:32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown{
    margin-left:-2px;
}
#language{
    border: none;
    font-size: 12px;
    text-align:left;
    font-weight:600;
    font-family: 'Mukta Malar', sans-serif;
}



.toplist{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
}

.top-list{
    padding: 0 0 0 39px;
}


.top-link{
 color: #1c1c1c;
    font-size: 12px;
    text-align: center;
    font-weight:500;
}

.nav-box{
width:1034px;
height:56px;
display:block;
margin-left: auto;
margin-right: auto;
/* border:1px solid white; */
display: flex;
justify-content: space-between;
align-items: center;
}

.search-war{
    width:350px;
    height:32px;
    border-radius:2px;
    padding-left: 15px;
    font-size:12px;
    font-family: 'Mukta Malar', sans-serif;
    border:none;
}

.search-icone{
    /* background-color: #FF4437; */
    padding: 0 16px;
    margin-left: -33px;
    background-image: url('/img/searchicone.png');
    background-size:20px;
    background-position: 4px 6px;
    background-repeat: no-repeat;
}
.browse-btn{
    width: 74px;
    margin: 0 17px;
    height: 30px;
    color: #404549;
    border-radius: 3px;
    border: none;
    font-family: 'Mukta Malar', sans-serif;
    background-color: white;
    cursor: pointer;
}

.browse-btn:hover{
    background-color: #FF4437;
    color:white;
}

.creat-btn{
    width: 133px;
    height: 33px;

    border-radius: 5px;
    font-size: 14.5px;
    letter-spacing: 0.5px;
    border: none;
    color: white;
    background-color: #FF4437;
    font-family: 'Mukta Malar', sans-serif;
    cursor: pointer;
}

/* main{
    width: 100%;
    background-color:#F1F1F1;
    position: absolute;
    
} */

/* .content-box{
    width: 1034px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:#F1F1F1;

} */

/* BOX1  CSS */

/* 
.box1{
    background-color: #edf3ff;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px dashed #202f4f;
    border-radius: 10px;
    /* height: 156px; */
    margin: 108px 0px 20px;
    text-align: center;

} */

/* .box1-heading1{
    color: #007bff!important;
    font-size: 24px;
    font-weight: 300;
} */

.number{
    font-size: 30px;
}


.box1-heading2{
    margin-top: -59px;
    font-size: 42px;
    margin-left: 40px;
    color: #FF4437;
}

.call-icone{
    margin-left: -272px;
}


.box1-heading3{
    font-size: 14px;
    margin-top: -105x;
    font-weight: 500
}

/* BOX2  CSS */

.box2{
    width: 1034px;
    height: 102px;
    background-color: white;
    padding: 15px 25px;
    margin: 25px 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box2-contentbox1{
    width: 365px;
    display: flex;
}

.colorbox{
    width: 83px;
    height: 100%;
    margin-right: 15px;
    padding: 10px;
    background: #202f4f;
    border-radius: 3px;
    text-align: center;
}

.colorbox-heading1{
    color: white;
    font-size: 24px;
    margin-top: -7px;
}

.colorbox-heading2{
    font-size: 12px;
    font-weight: 600;
    color: #674b00;
    padding: 2px 8px;
    margin: 8px 0 0;
    border-radius: 3px;
    background: #fab808;
    margin-top: -7px;
}

.contact-box{
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center ;
    

}

.icone-box{
    width: 40px;
    cursor: pointer;
}

.number-box{
    font-size: 34px;
    line-height: 1.1;
    color: #65BC54;
    cursor: pointer;
}

.numberbox-item:hover{
    color: #FF4437;
}

.box2-contentbox2{
    width: 200px;
    height: 46px;
    /* border: 1px solid black; */
    position: relative;

}

.box2-btn{
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    background-color: #FF4437;
    color: white;
    font-size:14px;
    border: none;
    font-weight: bold;
}

/* BOX3  CSS */

.box3{
    width: 100%;
    height: 68PX;
    padding: 20px 0px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box3-heading{
    font-size: 24px;
}

.box3-btn1{
    height: 100%;
    width: 83px;
    background-color: #FF4437;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 14px;
}

.box3-btn2{
    width: 110;
    height: 100%;
    background-color: white;
    border: none;
    font-size: 12px;
}

.box3-btn2:hover{
    background-color: #FF4437;
    color: white;
}


/* BO4   CSS */


.box4{
    width: 100%;
    background-color: white;
    padding: 20px 40px;
    margin-bottom: 20px;
    background: #fff;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}
.box4-table-box{
    height: 470px;
    width: 954px;
    /* border: 1px solid black; */
    margin-top: 30px;
    display: flex;
    justify-content:center;
}

.table1{
    width:138px;
    height:100%;
    /* background-color: lightgray; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.table2{
    width: 106px;
    height: 100%;
    /* background-color: lightgray; */
    font-family: Arial, Helvetica, sans-serif;
    
    }

.table1-list{
    margin-top: 18px;
    font-size: 13px;
}

.table1-row{
    background-color: #F4F4F4;
    height: 35px;
    padding: 8px;
    /* text-align: right; */
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.color-row{
    background-color: #ffde00;
}

.table2-head{
    height: 62px;
    width: 100%;
    text-align: center;
    line-height: 1.2;
    font-size: 14px;
    margin-top: 45px;
    /* background-color: red; */
    border-bottom: 3px solid black;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.table2-head-text{
margin-top: 9px;
}

.table1-head{
    width: 100%;
    height: 105px;
    background-image: url('/img/yellow\ shape.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.table1-head-text{
    font-size: 14px;
    font-weight: 600;
    margin-top: 46px;
    line-height: 1.5;
}

.table1-green-head{
    width: 100%;
    height: 105px;
    background-image: url('/img/green\ shape.png');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

.row2{
    height: 35px;
    margin-top: 1px;
    display: flex;
    /* vertical-align: middle; */
    align-items: center;
    justify-content: center;
}

.list2{
    margin-top: -0px;
}

.dark-row{
    background-color: #e9e9e9;
}

.yellow-row{
    background-color: #fdfdd6;
}

.dark-yellow{
    background-color: #eae79f;
}

.black-row{
    background-color: #a8a8a8;
}


.order{
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.order:hover{
    transform:scale(1.1)
}

.black-yellow{
    background-color:#ffc401 ;
}

.box4-last-box{
    width: 954px;
    height: 30px;
    /* border: 1px solid black; */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lastbox-box1{
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    /* padding: 5px; */
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
}

.icone-box2{
    display: flex;
    align-items: center;
}

.lastbox-link{
    color: #FF4437;
}

.lastbox-link:hover{
    color: #007bff;
}

.lastbox-box2{
    width: 43%;
    height: 100%;
    /* border: 1px solid black; */
    padding: 5px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green-row{
    background-color: #f0f7d9;
}

.light-green{
    background-color: #d9e4b6;
}

.dark-green{
    background-color: #8BA62A;
}




/* BOX5   CSS */

.box5{
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    padding: 20px 40px;
    text-align: left;
}

.box5-lastbox{
    font-size: 21px;
    color: #212529;
    margin-top: 25px;
}




/* FOOTER CSS */


footer{
    width: 100%;
    height: 111px;
    background-color: #202F4F;
    margin-top: 22px;
} 

.footer1{
    width: 1034px;
    height: 65px;
    margin: auto;
    border-bottom: 1px solid #47536d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer2{
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1a2640;
  font-size: 14px;
}

.footer-nav{
 display: flex;
 list-style: none;
 align-items: center;
}

.footer-list{
   padding: 0px 60px;
}

.footer-link{
    color: white;
    font-size: 14px;

}

/* MOBILE NAV CSS */
.mob-nav{
    width: 100%;
    height: 100vh;
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    display: none;
    position: absolute;
    margin-top: -1;
}

.mob-list{
    padding: 44px;
}

.mob-link{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.mob-btn{
    display: none;
}












@media only screen and (max-width:1100px){

    body{
        overflow-x: hidden;
    }



    .box4{
        overflow: auto;
        margin: auto;
    }

    .box5{
        padding: 20px 27px;
    }

    .topbox{
        display: none;
    }


    header{
        height: 56px;
        position: fixed;
    }
    .nav{
        margin-top: -31px;
    }

    .mob-nav{
        display: block;
        margin-left: -100%;
        transition: all 0.5s;
    }

    .mob-menu{
        margin-left: 0;
    }

    .mob-btn{
        display: block;
        margin-right: 15px;
        margin-left: 20px;
        cursor: pointer;
    }

    .logo{
        margin-left: o;
    }

  
    .creat-btn{
        display:none;
    }
    .center-nav{
        display: none;
    }

    .left-nav{
        display: block;
        margin-right: auto;
        display: flex;
        width: 0;
        align-items: center;
        height: 56px;
        justify-content: space-between;
    }

    .nav-box{
     width: 100%;
    }

  .content-box{
    width: 100%;
  }
  
  .box1{
    width: 90%;
    margin: auto;
    margin-top: 80px;
  }
/* 
  .call-icone{
    margin-left: -235px;
    margin-top:
  } */

  .box2{
    width: 100%;
    height: 180px;
    display: block;
  }

  .box2-contentbox1{
    width: 100%;
    display: flex;
    justify-content:center;

  }
  .number-box{
    font-size: 24px;
    line-height: 2;
  }

  .box1-heading1{
    font-size: 14px;
  }

  .box1-heading2{
    margin-top:-53px;
    font-size: 37px;

}

.icone-box{
    width: 30px;
}

  .colorbox{
    height: 74px;
    margin-right: 8px;
  }

  .contact-box{
    height: 74px;
    padding-right: 5px;

  }

  .box2-contentbox2{
    width: 200px;
    margin: auto;
    margin-top: 30px;
  }

.box3{
    padding: 20px 10px ;
}



    /* FOOTER CSS */

    
    .footer1{
       width: 100%;
    }

    .footer-list{
        padding: 0 6px;
    }

    .footer-link{
        font-size: 12px;
    }
}

























